.privacy-policy-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.privacy-policy-content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.section {
  margin-bottom: 20px;
}

.section h4 {
  margin-bottom: 10px;
}

.section p {
  margin-left: 20px;
  text-align: justify;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .privacy-policy-container {
    padding: 10px;
  }
  
  .privacy-policy-content {
    padding: 10px;
  }
  
  .section p {
    margin-left: 10px;
  }
}
